/* For Button */
.cta{
    font-size: 2.5rem;
    padding: 20px 60px;
}

h1.section-title{
    font-size: 6rem;
}

/* hero section */

#hero h1{
    font-size: 7rem;
}

/* Service Section */

/* #services .service-bottom .service-items{
    flex-basis: 45%;
    margin: 2.5%;
} */

/* Project Section */

#projects .project-items{
    flex-direction: row;
}

#projects .project-items:nth-child(even){
    flex-direction: row-reverse;
}

#projects .project-items{
    height: 400px;
    margin: 0;
    width: 100%;
    border-radius: 0;
}

#projects .all-projects .project-info{
    height: 100%;
}

#projects .all-projects .project-img{
    height: 100%;
}

/* ABOUT SECTION */

#about .about{
    flex-direction: row;
}
#about .col-left{
    height: 400px;
    width: 1400px;
    padding-left: 60px;

}

#about .about .col-left .about-img::after{
    left: -45px;
    top: 34px;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
}

#about .col-right{
    text-align: left;
    padding-left: 30px;
}

#about .col-right h1{
    text-align: left;
}

/* Contact Us */
#contact .contact{
    flex-direction: column;
    padding: 100px 0px;
    min-width: 20vh;
    align-items: center;
    justify-content: center;
}

#contact .contact-items{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0%;
    padding: 20px;
}
#contact .contact-item{
    margin: 20px;
}

#contact .icon img{
    height: 50px;
    width: 50px;
}
/* #contact .icon img{
    object-fit: contain;
} */

